<app-header></app-header>


<div class="responsive-container">
  <img src="../assets/images/icy-summit-of-a-mountain-on-a-frosty-night.jpg">
</div>


<!-- <div class="container">
  <div class="image-wrapper">
    <cl-image public-id="icy-summit-of-a-mountain-on-a-frosty-night_qy2wtd.jpg" width="800" height="500" >
      <cl-placeholder type="pixelate"></cl-placeholder>
    </cl-image>
  </div>
</div> -->


<!-- <div style="display: block; margin-left: auto; margin-right: auto; height: 500px; width: 800px;" >
  <cl-image public-id="icy-summit-of-a-mountain-on-a-frosty-night_qy2wtd" width="800" height="500" >
    <cl-placeholder type="pixelate"></cl-placeholder>
  </cl-image>
</div> -->
<div class="content bg-light">
    <div class="album py-5 bg-light">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a routerLink="terrain-shop">Check out the terrain shop!</a>
      </p>
        <p><a
            href="https://www.newline.co/courses/newline-guide-to-angular-universal">
            The newline Guide to Angular Universal
        </a></p>
    </div>
</footer>
