:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.topimage {
  width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
