:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// cl-image {
//   width: 800px;
//   height: 500px;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   border: 4px solid orange;
//   box-sizing: border-box;
// }

.image-wrapper {
  max-width: 3200px;
  max-height: 1800px;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.responsive-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.responsive-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .container {
//   width: 800px;
//   margin: 0 auto;
// }

// .image-wrapper {
//   max-width: 800px;
//   max-height: 500px;
//   background-color: black;
//   object-fit: contain;
// }
